<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/style.css">
</head>

<body>

<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user:${allUsers}">
                <td><span th:text="${user.id}">id</span></td>
                <td><span th:text="${user.username}">name</span></td>
                <td><span th:text="${user.password}">password</span></td>
                <!--<td>-->
                    <!--<c:forEach items="${user.roles}" var="role">${role.name}; </c:forEach>-->
                <!--</td>-->
                <td>
                    <form action="${pageContext.request.contextPath}/admin" method="post">
                        <input type="hidden" name="userId" value="${user.id}"/>
                        <input type="hidden" name="action" value="delete"/>
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/">Главная</a>
</div>
</body>
</html>