<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>СНК "Медицина Путешествий"</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>

<h1>Welcome! (тут картинка-банер с логотипом / фоточки)</h1>

<p>Click <a th:href="@{/greeting}">here</a> to see a greeting.</p>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">СНК "Медицина путешествий"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item>">
                <a class="nav-item nav-link" href="/country">Страны<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="#">Новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="#">Заболевания</a>
            </li>
        </ul>
        <div class="navbar-text mr-3">${name}</div>
        <button class="btn btn-outline-success my-2 my-sm-0 inline" type="button" href="#myModal" data-toggle="modal">Sign In</button>
    </div>
</nav>


<div>
    <sec:authorize access="isAuthenticated()">
        <h4><a href="/logout">Выйти</a></h4>
    </sec:authorize>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        Content for administrators
        <h4><a href="/admin">Пользователи (только админ)</a></h4>
    </div>
</div>

<div class="container pb-5">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                        <img class="d-block w-100" th:src="@{'/img/carusel1.jpg'}" style="height: 300px" alt="Первый слайд">
                    </div>
                    <div class="col">
                        <img class="d-block w-100" th:src="@{'/img/carusel2.jpg'}" style="height: 300px" alt="Первый слайд">
                    </div>
                    <div class="col">
                        <img class="d-block w-100" th:src="@{'/img/carusel3.jpg'}" style="height: 300px" alt="Первый слайд">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <img class="d-block w-100" th:src="@{'/img/carusel4.jpg'}" style="height: 300px" alt="Первый слайд">
                    </div>
                    <div class="col">
                        <img class="d-block w-100" th:src="@{'/img/carusel5.jpg'}" style="height: 300px" alt="Первый слайд">
                    </div>
                    <div class="col">
                        <img class="d-block w-100" th:src="@{'/img/carusel6.jpg'}" style="height: 300px" alt="Первый слайд">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <img class="d-block w-100" th:src="@{'/img/carusel7.jpg'}" style="height: 300px" alt="Первый слайд">
                    </div>
                    <div class="col">
                        <img class="d-block w-100" th:src="@{'/img/carusel8.jpg'}" style="height: 300px" alt="Первый слайд">
                    </div>
                    <div class="col">
                        <img class="d-block w-100" th:src="@{'/img/carusel9.jpg'}" style="height: 300px" alt="Первый слайд">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<div class="container text-center mb-3">
    <div class="row">
        <div class="col">
            <div class="card mb-3 div-link">
                <div class="card-body">
                    <h3 class="card-title" >Путешественникам</h3>
                    <a th:href="@{/country}" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3 div-link">
                <div class="card-body">
                    <h3 class="card-title" >Клиницистам</h3>
                    <a th:href="@{/country}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

</div>

<h1 class="text-center mb-5">Новости</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="message:${messages}">
            <div class="card mb-4">
                <div class="img-preview"  th:style="'background-image:url('+ @{'/img/'+${message.fileName}} +');'">
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${message.header}">Card title</h5>
                    <p class="card-text" th:text="${message.text}" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Открыть новость</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <img class="avatar" th:src="@{'/img/logo.jpg'}">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                    </div>
                </form>
                <div class="hint-text"><a href="/registration">Зарегистрироваться</a></div>
                <div class="hint-text small"><a href="#">Forgot Your Password?</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>