<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>messages</title>
</head>
<body>

<h1>messages</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Message</th>
            <th>Tag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message: ${messages}">
            <td><span th:text="${message.text}">Text</span></td>
            <td><span th:text="${message.tag}">Tag</span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>